<a href="https://colab.research.google.com/github/dunghoang2112/Artificial-Inttelligence/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pandas.core.groupby import groupby
import pandas as pd
url= 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
dataframe1=data[(data['Sport'] =='Skating') & (data['Medal']=='Gold')] 
dataframe2=data[ (data['Medal']=='Gold')&(data['Year']==1924)] 
print("Số huy chương chương vàng theo môn Skating:",dataframe1['Sport'].count())
print("Số huy chương chương vàng năm 1924:",dataframe2['Medal'].count())
dataframe3=data[(data['NOC'] =='USA') & (data['Medal']=='Gold')] 
print("Số huy chương vàng của USA tại olympics:",dataframe3['Medal'].count())
dataframe4=data[(data['NOC'] =='USA') & (data['Medal']=='Bronze')] 
print("Số huy chương đồng của USA tại olympics:",dataframe4['Medal'].count())
dataframe5=data[(data['NOC'] =='USA') & (data['Medal']=='Silver')]
print("Số huy chương bạc của USA tại olympics:",dataframe5['Medal'].count())
print("Số huy chương của USA tại olympics:",int(dataframe3['Medal'].count())+int(dataframe4['Medal'].count())+int(dataframe5['Medal'].count()))
data.groupby(['Sport']).count()
print("Bảng thống kê số môn thể thao:",data.groupby(['Sport']).count())
data.groupby(['NOC']).count()
print("Bảng thống kê các nước tham gia Olympics:",data.groupby(['NOC']).count())

Số huy chương chương vàng theo môn Skating: 254
Số huy chương chương vàng năm 1924: 16
Số huy chương vàng của USA tại olympics: 78
Số huy chương đồng của FRA tại olympics: 58
Số huy chương bạc của USA tại olympics: 80
Số huy chương của USA tại olympics: 216
Bảng thống kê số môn thể thao:             Year  City  Discipline   NOC  Event  Event gender  Medal
Sport
Biathlon     162   162         162   162    162           162    162
Bobsleigh    133   133         133   133    133           133    133
Curling       21    21          21    21     21            21     21
Ice Hockey    69    69          69    69     69            69     69
Luge         108   108         108   108    108           108    108
Skating      758   758         758   758    758           758    758
Skiing      1060  1060        1060  1060   1060          1060   1060
Bảng thống kê các nước tham gia Olympics:      Year  City  Sport  Discipline  Event  Event gender  Medal
NOC
AUS     6     6      6           6      6             6      6
AUT   185   185    185         185    185           185    185
BEL     5     5      5           5      5             5      5
BLR     6     6      6           6      6             6      6
BUL     6     6      6           6      6             6      6
CAN   119   119    119         119    119           119    119
CHN    33    33     33          33     33            33     33
CRO     7     7      7           7      7             7      7
CZE    10    10     10          10     10            10     10
DEN     1     1      1           1      1             1      1
ESP     2     2      2           2      2             2      2
EST     6     6      6           6      6             6      6
EUA    19    19     19          19     19            19     19
EUN    23    23     23          23     23            23     23
FIN   151   151    151         151    151           151    151
FRA    83    83     83          83     83            83     83
FRG    41    41     41          41     41            41     41
GBR    21    21     21          21     21            21     21
GDR   110   110    110         110    110           110    110
GER   158   158    158         158    158           158    158
HUN     6     6      6           6      6             6      6
ITA   101   101    101         101    101           101    101
JPN    32    32     32          32     32            32     32
KAZ     5     5      5           5      5             5      5
KOR    31    31     31          31     31            31     31
LAT     1     1      1           1      1             1      1
LIE     9     9      9           9      9             9      9
LUX     2     2      2           2      2             2      2
NED    78    78     78          78     78            78     78
NOR   280   280    280         280    280           280    280
NZL     1     1      1           1      1             1      1
POL     8     8      8           8      8             8      8
PRK     2     2      2           2      2             2      2
ROU     1     1      1           1      1             1      1
RUS    76    76     76          76     76            76     76
SLO     4     4      4           4      4             4      4
SUI   118   118    118         118    118           118    118
SVK     1     1      1           1      1             1      1
SWE   118   118    118         118    118           118    118
TCH    25    25     25          25     25            25     25
UKR     5     5      5           5      5             5      5
URS   194   194    194         194    194           194    194
USA   216   216    216         216    216           216    216
UZB     1     1      1           1      1             1      1
YUG     4     4      4           4      4             4      4